* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.disabled,
.disabled * {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(60%);
    cursor: default;
}

.disabled:hover,
.disabled:active,
.disabled:focus {
    background: inherit;
    color: inherit;
    box-shadow: none;
    transform: none;
}