 /* mail index  */
 .mail-index {
     display: grid;
     grid-template-columns: 257px 1fr;
     height: 100vh;
     background-color: var(--mail-idx-bg-clr);
     color: var(--mail-idx-font-clr);

     font-family:'Google Sans Text','Roboto',Helvetica,Arial,sans-serif;
     font-size: 14px;
 }

 .mail-index .mail-display-section {
     width: 100%;
 }

 .mail-index .right-sidebar {
     grid-column: 1;
 }

 .mail-index .mail-list {
     grid-column: 2;
 }
