.mail-details-container {
    height: 100vh;
    background-color: var(--mail-list-bg-clr);
    padding-right: 18px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.mail-details-container .actions-btns {
    padding: 0 16px 0 16px;

    button {
        border: none;
        background-color: transparent;
        height: 40px;
        width: 40px;
        cursor: pointer;
        position: relative;

        .fa-arrow-left {
            text-align: center;
            color:  #6D6D6D;
        }
    }

    button::before {
        content: "";
        position: absolute;

        inset: 0;
        border-radius: 50%;
        background: rgba(60, 64, 67, 0.1);

        transform: scale(0);
        transform-origin: center;
        transition: transform 0.25s ease;
        z-index: 0;
    }

    button:hover::before {
        transform: scale(1);
    }

    button i {
        position: relative;
        z-index: 1;
        transition: .25s ease;
    }
    button:hover{
        transform: translateX(-3px);
    }
}

.mail-details-container .mail-subject {
    display: flex;
    align-items: flex-start;
    padding: 20px 0 0 72px;
    font-size: 1.375rem;
    font-weight: 400;
}

.mail-details-container .avatar {
    width: 40px;
    height: 40px;
    margin: 0 16px;
}

.mail-main {
    display: flex;
}

.mail-main .avatar-container {
    grid-column: 1;
}

.mail-main .mail-details-box {
    width: 100%;
    grid-column: 2;
    padding-bottom: 20px;
}

.mail-details-box .mail-details-header {
    display: flex;
    justify-content: space-between;

    padding: 20px 0 0 0;
    font-size: 0.875rem;
}

.mail-details-header {
    .sender-details {
        display: flex;
        gap: 2px;

        .sender-name {
            font-weight: bold;
        }

        .sender-mail {
            color: #5e5e5e;
            font-size: 0.75rem;
        }
    }

    .mail-date {
        font-size: 0.75rem;
        color: #5e5e5e;
    }
}

.mail-details-box .mail-body {
    padding-top: 40px;
}