.compose-window {
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 9;

  width: 450px;
  background: white;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
}

.compose-window.minimized {
  height: 40px;
  width: 300px;
  overflow: hidden;
}

.compose-header {
  padding: 10px 12px 10px 16px;
  background: #f2f6fc;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.compose-actions button {
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: rgba(60, 64, 67, 0.1);
  }
}

.compose-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.compose-body input {
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, .12);
  padding: 10px 0;
}

.compose-body input,
.compose-body textarea {
  width: 100%;
  border: none;

  font-size: 14px;
  font-family: Arial, sans-serif;
  outline: none;
  box-sizing: border-box;
}

.compose-body input[type="text"] {
  height: 32px;
}

.compose-body textarea {
  resize: none;
  min-height: 200px;
  font-size: 14px;
}

/* Compose Footer Buttons */
.compose-footer {
  display: flex;
  justify-content: space-between;
  height: 32px;
  gap: 8px;
  margin: 12px 0 16px;
}

/* Send Button */
.compose-footer .send {
  background-color: #0b57d0;
  color: white;

  border: none;
  border-radius: 18px;

  min-width: 100px;
  height: 36px;
  padding: 0px 16px;

  font-weight: bold;
  font-size: 0.875rem;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.compose-footer .send:hover {
  opacity: 0.92; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.compose-footer .delete {
  background-color: transparent;
  color: #5f6368;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 50%;
}

.compose-footer .delete:hover {
  background-color: rgba(60, 64, 67, 0.1);
}

.compose-body,
.compose-footer {
  padding: 0 16px;
}